<div class="cuadroAcceso">
    <div class="columnaAcceso">
        @await Html.PartialAsync("_RegistroUsuario")
    </div>
    <div class="columnaAcceso">
        @await Html.PartialAsync("_Login")
    </div>
</div>
